/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #78ddff; /* Optional: for better visibility */
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
